.space-out {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
}

.addItem {
    background: #F5EFFF;
}
.addItem:hover{
    background: #3b4d61;
    transition: all 0.9s ease;
    
    color: #ffffff;
}
.completedItem {
    background: #F5EFFF;
}
.formWrapper {
    
    border-radius: 7px;
    background: #F5EFFF;
    box-shadow: 4px 4px #CDC1FF;

}

.form-input {
    /* border: 1px solid red; */
    border: none;
    border-radius: 5px;
    background: #ffffff;

}

.form-input:focus {
    outline: none;
}

.myButton {
    background: #7371FC;
    color: #ffffff !important;
}

.checkfield {
    height: 12px;
    width: 12px;
}
.actionBtn{
    color: #3b4d61 !important;
}
.actionBtn:hover {
    cursor: pointer;

}
.desc {
    font-weight: 600;
    font-size: 17px;
}

