.actionBtn:hover {
    cursor: pointer;

}
h3{
    font-weight: 700;
    font-size: 1.8rem;
}
.space-out {
    margin:0 30px;
    font-size: 25px;
    font-weight: 500;
}
.view{
    background: #2e4b68;
    border-radius: 15px;
    margin: 0 auto !important;
}
.editPage{
    height: 90vh;
    
}
.desc{
    font-weight: 600;
    font-size:17px
}

@media screen and (max-width: 580px) {
    .view {
        width: 60vw;
    }

}@media screen and (max-width: 350px) {
  .view{
    width: 70vw;
  }
  .small-screen{
    padding-top: 20px !important;
    padding-bottom: 30px !important;

  }
  .small-screen-text{
    margin-bottom: 20px !important;
  }
    .structure {
        display: flex;
        flex-direction: column;
    }
    .corect{
        width: 100%;
    }
    .desc{
        font-weight: 700;
    }
    .editPage {
        margin-top: 15px !important;
    
    }
       
}
@media screen and (min-width: 1212px) {
    .pad-lg {
        margin-left: 30px !important;
    }

}