<div>
  <h2 class="text-center">Edit Todo</h2>

  <div class="d-flex justify-content-center">
    <div
      class="formWrapper col-md-6 col-9 mx-5 my-3 pt-5 pb-3 px-3 col-xs-12 col-sm-9 view"
    >
      <div class="formContainer mx-3">
        <form #myForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="d-flex mb-3">
            <label class="col-4 desc">Title</label>
            <input
              type="text"
              placeholder="Add a task"
              class="form-input col-8 p-2"
              name="task"
              [(ngModel)]="form.title"
              #task="ngModel"
            />
          </div>
          <div class="d-flex mb-3">
            <label class="col-4 desc">Detail</label>
            <textarea
              type="text"
              placeholder="Task Description"
              class="form-input col-8 p-2"
              name="body"
              [(ngModel)]="form.body"
              #body="ngModel"
              rows="3"
              cols="25"
            ></textarea>
          </div>
          <div class="d-flex mb-3">
            <label class="col-4 desc">Date Added</label>
            <input
              type="date"
              class="form-input col-8 p-2"
              name="dateAdded"
              [(ngModel)]="form.dateAdded"
              #dateAdded="ngModel"
            />
          </div>
          <div class="d-flex mb-3">
            <label class="col-4 desc">Due Date</label>
            <input
              type="date"
              class="form-input col-8 p-2"
              name="dueDate"
              [(ngModel)]="form.dueDate"
              #dueDate="ngModel"
            />
          </div>

          <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn myButton w-25">
              <span> <i class="fas-solid fa-plus"></i></span>

              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
