.input-field{
    border: 1px solid #3b4d61;
    border-radius: 15px;
    
}
.text-color{
    color: #3b4d61;
}
.input-area{
    border: none;
}
.input-area:focus {
    outline: none;
}
.myBtn {
    border: none !important;
    border-left: 1px solid black !important;
}.myBtn:hover {
    border: none !important;
    border-left: 1px solid black !important;
}


.space-out {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
}

.addItem {
    background: #F5EFFF;
}

.addItem:hover {
    background: #e4ddff;
    color: #020085;
}

.checkfield {
    height: 12px;
    width: 12px;
}
.actionBtn{
    color: #3b4d61 !important;
}

.actionBtn:hover {
    cursor: pointer;

}
@media screen and (max-width: 375px) {
    .space-out {
        margin-right: 5px;
    }

    .space-out-alarm {
        margin-right: 10px;
    }
    .card-body {
        --bs-card-spacer-x: 0.5rem;
    }
}